.logo {
  margin-top: 48px;
  text-align: center;
}

.input-form button {
  margin: 5px 0;
}

.container-fluid {
  width: 800px;
}

#result {
  border-left: #DDD solid 10px;
  overflow: auto;
  display: none;
}

.text-container {
  font-size: 16px;
  padding: 15px 15px;
}

.waiting-message {
  margin: 10px 15px;
  display: inline-block;
}

.error-message {
  margin: 10px 15px;
  display: inline-block;
}

.footer {
  margin-bottom: 20px;
  text-align: center;
}

.tree-info {
  text-align: left;
  margin-left: 18px;
}

.catalan {
  padding: 5px 20px;
  text-align: right;
}

